<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtros </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ui.css">

    <!-- Angular -->
    <script src="lib/angular-1.8.2/angular.js"></script>
    <script src="lib/angular-1.8.2/angular-messages.js"></script>
    <script src="lib/angular-1.8.2/angular-locale_pt-br.js"></script>

    <!-- Java Script -->
    <script src="js/app.js"></script>
    <script src="js/controllers/listaTelefonicaCtrl.js"></script>

    <!-- Services -->
    <script src="js/services/contatosAPIService.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>
    <script src="js/services/serialGeneratorService.js"></script>
    <script src="js/config/serialGeneratorConfig.js"></script>

    <!-- Value -->
    <script src="js/value/configValue.js"></script>

    <!-- Filter -->
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/elipsisFilter.js"></script>

    <!-- Diretivas -->
    <script src="js/directives/uiAlertDirective.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
    <script src="js/directives/uiAccordionDirective.js"></script>
    <script src="js/directives/uiTelefoneDirective.js"></script>

</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <!--  <h4 ng-bind="app"></h4> FORMA DE MOSTRAR DADO-->
        <ui-alert title={{message}}>
            {{error}}
        </ui-alert>
        <h3> {{app}} </h3>
        <ui-accordions>
            <ui-accordion title="Celular">
                <li>Oi</li>
                <li>Tim</li>
                <li>Vivo</li>
                
            </ui-accordion>
            <ui-accordion title="Fixo">
                <li>Embratel</li>
                <li>GVT</li>
            </ui-accordion>
        </ui-accordions>

        <hr>

        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <input type="text" ng-model="criterioDeBusca" placeholder="O que você esta buscanco?" class="form-control">
        <table ng-show="contatos.length>0" class="table">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
                <th></th>
            </tr>
            <tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}"
                ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <!--FILTRA TODOS OS CAMPOS | REVERSE: FALSE(CRESCENTE) TRUE(DESCRESCENTE)-->
                <!-- ng-repeat="contato in contatos | filter:{nome: criterioDeBusca}"> -->
                <!--FILTRA UM CAMPO SÓ -->

                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td> {{contato.serial}} </td>
                <td> {{contato.nome | name | ellipsis:12}} </td>
                <td> {{contato.telefone}} </td> <!-- FORMDE FAZER A MESMA COISA QUE DADOS ABAIXO -->
                <td> {{contato.operadora.nome | lowercase}} </td>
                <td> {{contato.data | date:'MMM EEEE dd/MM/yyyy HH:mm'}} </td>
                <td>
                    <div style="width: 20px; height:20px;" ng-style="{'background-color': contato.cor}"></div>
                </td>
                <!-- <td ng-repeat="(key,value) in contato"> 
                    {{value}}
                </td> -->
            </tr>
        </table>
        <hr>
        <form name="contatoForm">
            <input class="form-control" type="text" name="nome" ng-model="contato.nome" placeholder="Nome"
                ng-required="true" ng-minlength="10">
            <input class="form-control" type="text" name="telefone" ng-model="contato.telefone" placeholder="Telefone"
                ng-required="true" ng-pattern="/^\d{5}-\d{4}$/" ui-telefone>
            <input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date>
            <select class="form-control" name="operadora" ng-model="contato.operadora"
                ng-options="operadora.nome + ' ('+ (operadora.preco | currency) +')' for operadora in operadoras | orderBy: 'nome'"
                ng-required="true">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">
            Por favor, preencha o campo nome.
        </div>
</html>
        <div class="alert alert-danger" ng-show="contatoForm.nome.$error.minlength">
            O campo nome deve ter no mínimo 10 caracteres
        </div>

        <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
            Por favor, preencha telefone.
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
            O campo telefone deve ter o formato 9DDDD-DDDD.
        </div>


        <div ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" class="alert alert-danger">
            Por favor, selecione a operadora
        </div>
        <br>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)"
            ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <!-- <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contatos</button> -->
        <!-- ngShow -->
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)"
        >Apagar Contatos</button>
        <!-- ng-show="isContatoSelecionado(contatos)" -->
        

    </div>
</body>

</html>